# Flutter
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
pubspec.lock
.dart_tool/

# Android
android/app/debug
android/app/profile
android/app/release
android/gradle/
android/gradlew
android/gradlew.bat
android/local.properties
android/.gradle/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/Flutter-Debug.xcconfig
macos/Flutter/Flutter-Release.xcconfig
macos/Flutter/Flutter-Profile.xcconfig
macos/Flutter/flutter_export_environment.sh
macos/ServiceDefinitions.json

# IDE
.idea/
*.iml

# Exclude markdown files
*.md

# macOS specific
macos/Pods/
macos/Podfile.lock